@import "variables";

.container {
  margin-bottom: 40px;
  span {
    font-family: 'Inter-Bold';
  }
}

.title {
  font-size: 16px;
  margin-bottom: 10px;
}

.body {
  padding: 2px 20px;
  border-left: 1px solid $greyStrokeColor;
}

.data {
  color: $textGreyColor;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0px;
  }
}