@import "variables";

.container {
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  justify-content: center;
  text-align: center;
  height: 60px;
  font-size: 18px;
  font-family: 'Inter-Medium';
  color: $greyColor;
  transition: all .3s;

  span {
    color: $blackColor;
    transition: all .3s;
  }

  &.withLink {
    a {
      text-decoration: none;
      color: $greyColor;
    }
    span {
      color: $blackColor;
    }
    &:hover {
      a {
        text-decoration: none;
        color: $textGreyColor;
      }
      span {
        color: $textGreyColor;
      }
    }
  }
}
