@import "variables";

.container {
  border: 1px solid $greyStrokeColor;
  background: $whiteColor;
  color: $blackColor;
  padding: 40px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 40px;
  width: 100%;
}

.customTokenEnabled {
  .chooseTokens {
    margin-bottom: 20px!important;
  }
}

.currentBalance {
  min-height: 36px;
  display: flex;
  color: $dbBlue;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}

.title {
  font-size: 24px;
  margin: 0 0 40px;
}

.main {
  display: flex;
}

.form {
  flex: 1 0 550px;
  padding-right: 50px;
  border-right: 1px solid $greyStrokeColor;
}

.summary {
  padding-left: 50px;
  width: 100%;
}

.subtitle {
  margin: 0 0 20px;
  font-size: 16px;
}

.input {
  max-width: 150px;
}

.button {
  margin-top: 80px;
}

.inputFullSize {
  max-width: none;
  width: 100%;
}

.chooseTokens, .tokensAmount {
  margin-bottom: 40px;
}

.tokensAmountContainer {
  display: flex;
  align-items: center;
}

.extraButton {
  padding: 0px 25px;
}

.ethInput {
  width: 150px;
}

.text {
  font-size: 16px;
  margin: 0px;

  &.textMargin15 {
    margin-bottom: 15px;
  }

  &.textMargin30 {
    margin-bottom: 30px;
  }

  &.textGrey {
    color: $dbGrey;
  }
}

.iconInfoButton, .iconInfoText {
  padding-left: 40px;
  position: relative;
}

.iconInfoText {
  display: flex;
  align-items: center;
}

.linksAmount {
  margin-bottom: 20px;
}

.linksAmountContainer {
  display: flex;
  align-items: center;

  span {
    margin-right: 15px;
  }
}

