@font-face {
  font-family: 'Inter-Regular';
  src: url('~assets/fonts/Inter-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('~assets/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('~assets/fonts/Inter-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('~assets/fonts/Inter-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('~assets/fonts/Inter-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('~assets/fonts/Inter-Medium.woff') format('woff');
}
