@import "variables";

.container {
  border: 1px solid $greyStrokeColor;
  background: $whiteColor;
  color: $blackColor;
  padding: 40px;
  border-radius: 5px;
  position: relative;
  width: 100%;
  margin-bottom: 40px;

  a {
    color: $dbBlue;
    transition: color .3s;
    text-decoration: none;
    &:hover {
      color: $dbBlue;
    }
  }
}

.title {
  font-size: 24px;
  margin: 0 0 40px;
}

.content {
  display: flex;
}

.automatic {
  flex: 1 1;
  padding-right: 40px;
  max-width: 550px;
  border-right: 1px solid $greyStrokeColor;
}

.manual {
  padding-left: 50px;
}

.text {
  font-size: 16px;
  margin: 0px;

  &.textMargin15 {
    margin-bottom: 15px;
  }

  &.textMargin30 {
    margin-bottom: 30px;
  }

  &.textMargin40 {
    margin-bottom: 40px;
  }

  &.textMargin20 {
    margin-bottom: 20px;
  }

  &.textMargin10 {
    margin-bottom: 10px;
  }

  &.textMargin80 {
    margin-bottom: 80px;
  }

  &.textGrey {
    color: $dbGrey;
  }

  &.textBold, span {
    font-family: 'Inter-Bold';
  }

  &.textMargin60 {
    margin-bottom: 60px;
  }

  &.ellipsis {
    span {
      overflow: hidden;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.button {
  padding: 4px 16px;
  background: $dbBlue;

  &.buttonMargin60 {
    margin-bottom: 60px;
  }

  &.buttonMargin40 {
    margin-bottom: 40px;
  }

  span {
    margin-right: 14px;
  }

  &.buttonWithImg {
    padding: 4px 10px 4px 20px;
  }

  svg {
    margin-right: 0px;
  }
}

.codeBlock {
  height: 300px;
  border-radius: 5px;
  padding: 20px;
  line-height: 1.4;
  border: 1px solid $greyStrokeColor;
  width: 510px;
  font-size: 10px;
  font-family: Courier New, monospace, serif;
  margin-bottom: 40px;
  overflow-y: scroll;
}

.buttonsContainer {
  display: flex;
  width: 340px;
  margin-bottom: 40px;
  justify-content: space-between;

  .button {
    width: 158px;
  }
}
