@import "variables";

.container {
  max-width: 500px;
  height: 40px;
  border-radius: 5px;
  position: relative;
  border: 1px solid $greyStrokeColor;
}

.bar {
  position: absolute;
  top: 0;
  background: $dbBlue;
  left: 0;
  height: 100%;
}

.data {
  position: absolute;
  right: 15px;
  top: 0;
  display: flex;
  color: $dbBlue;
  text-align: left;
  align-items: center;
  height: 100%;
}