@import "variables";

.container {
  border: 1px solid $greyStrokeColor;
  background: $whiteColor;
  color: $blackColor;
  padding: 40px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 40px;
  position: relative;
}

.button {
  background: $dbBlue;
}

.title {
  font-size: 24px;
  margin: 0 0 40px;
}

.text {
  font-size: 16px;
  margin-bottom: 20px;
}

.main {
  display: flex;
}

.description {
  flex: 1 0 550px;
  padding-right: 30px;
  border-right: 1px solid $greyStrokeColor;
}

.centered {
  width: 280px;
}

.scheme {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
