/* common values */
$blackColor: #000;
$whiteColor: #FFF;
$greyColor: #999;
$bgColor: #FCF5F1;
$greenColor: #2BC64F;
$orangeColor: #FFA300;
$redColor: #FF2D55;

/* values for claim page */
$borderHoverGreyColor: #8C8C8C;
$bgHoverGreyColor: rgba(140, 140, 140, 0.2);
$successColor: #4CD964;

/* values for linkdrop ui kit */
$textGreyColor: #979797;
$blackActiveColor: #8C8C8C;
$invertedActiveColor: rgba(248, 248, 248, 0.82);

/* values for linkdrop dashboard */
$bgColor: #F1F3F4;
$dbGrey: #979797;
$dbBlue: #0025FF;
$greyStrokeColor: #E5E5E5;
$darkOrangeColor: #F89D35;
$dbBlueOpacity: rgba(0, 37, 255, .2);

:export {
  blackColor: $blackColor;
  whiteColor: $whiteColor;
  greyColor: $greyColor;
  bgColor: $bgColor;
  greenColor: $greenColor;
  orangeColor: $orangeColor;
  borderHoverGreyColor: $borderHoverGreyColor;
  bgHoverGreyColor: $bgHoverGreyColor;
  textGreyColor: $textGreyColor;
  blackActiveColor: $blackActiveColor;
  invertedActiveColor: $invertedActiveColor;
  bgColor: $bgColor;
  dbGrey: $dbGrey;
  dbBlue: $dbBlue;
  greyStrokeColor: $greyStrokeColor;
  darkOrangeColor: $darkOrangeColor;
  redColor: $redColor;
  successColor: $successColor;
  dbBlueOpacity: $dbBlueOpacity;
}