.container {
	display: flex;
	align-items: center;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 100%;
	justify-content: center;
	text-align: center;
	height: 60px;
  font-size: 30px;
  font-family: 'Inter-Bold';
}
