@import "variables";

.container {
  width: 100%;
  max-width: 400px;
  outline: none;
  box-shadow: none;

  > div:first-child, > div:nth-child(2) {
    border-color: $blackColor;
    outline: none;
    box-shadow: none;
    height: 50px;
  }

  > * {
    color: $blackColor!important;
  }

  > [class*="-menu"] {
    bottom: auto;
    top: 100%;
  }
}