@import "variables";

.container {
  border: 1px solid $greyStrokeColor;
  background: $whiteColor;
  color: $blackColor;
  padding: 40px;
  border-radius: 5px;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}

.title {
  font-size: 24px;
  margin: 0 0 40px;
}

.main {
  display: flex;
  margin-bottom: 20px;
}

.summary {
  flex: 1 0 550px;
  padding-right: 50px;
  border-right: 1px solid $greyStrokeColor;
}

.description {
  padding-left: 50px;
  width: 100%;
}

.serviceFee {}

.summaryBox {
  display: flex;
  margin-bottom: 30px;

  div:first-child {
    margin-right: 50px;
  }

  p {
    margin: 0;
  }
}

.data {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.dataTitle {
  font-weight: normal;
  font-size: 16px;
  margin: 0 0 10px;
  font-family: 'Inter-Regular'
}

.dataContent {
  font-family: 'Inter-Bold';
  margin-bottom: 6px;
}

.extraDataContent {
  color: $dbGrey;
}

.text {
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 15px 0;
}

.input {
  min-width: 450px;
}

.priceSummary {
  margin-bottom: 25px;
  strong {
    font-family: 'Inter-Bold';
  }
}