@import "variables";

.main {
  max-width: 1280px;
  flex: 1 0 auto;
  padding: 0px 50px;
}

.container {
  padding: 0px;
  display: flex;
  position: relative;
}

.mainWrapper {
  height: 100vh;
  background: $bgColor;
  width: 100%;
}

.easterEgg {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  z-index: 100;
  cursor: pointer;
  height: 10px;
  opacity: 0;
}

.button {
  background: $dbBlue!important;
}